.Resume {
  position: relative;
  padding: 40px 0 40px 80px;

  .home {
    display: none;
  }

  .popup {
    display: none;
  }

  &.alone {
    margin: 54px 0;
    padding: 40px;
    border: .8px solid #000000;

    .home {
      display: flex !important;
      position: absolute;
      top: 0;
      left: -5rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #F9F9F9;
      cursor: pointer;
    }

    .popup {
      display: block;
      position: absolute;
      top: 0;
      right: -30%;
      z-index: 100;
      padding: 28px 30px 30px 30px;
      font-family: 'Helvetica-regular';
      font-weight: 600;
      max-width: 230px;
      background-color: #E4E4E4;
      border-radius: 8px;

      img {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
        cursor: pointer;
      }
    }

    .Resume-hero {
  
      @media (max-width: 1550px) {
        display: block !important;
        
        .user-img {
          position: absolute !important;
          margin: 0;
        }
      }
    }
  }

  h3 {
    margin-bottom: 15px;
    font-family: 'Helvetica';
    font-size: 1.125rem;
    color: #F93B1D;
    font-weight: 700;
  }

  hr {
    margin: 39px 0 24px;
  }

  p {
    font-family: 'Helvetica-regular';
    font-size: 1rem;
    line-break: anywhere;
  }

  &-hero {
    position: relative;
    align-items: flex-start !important;

    .user-img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      top: 0;
      right: 0;
      position: absolute;
      object-fit: cover;
    }

    @media (max-width: 1550px) {
      display: flex;
      flex-direction: column;
      
      .user-img {
        position: static;
        margin: 40px 0;
      }
    }
  }

  &-name {
    font-family: 'Helvetica';
    font-size: 1.125rem;
    color: #F93B1D;
    font-weight: 700;
  }

  &-contact {
    
    margin: 17px 0 34px;
    align-items: flex-start !important;
    gap: 5px;

    span {
      gap: 11px;
      font-size: 1.125rem;
    }
  }

  &-about {

    &.hidden {
      display: block !important;

      h3,p,hr {
        display: none;
      }
    }

    p {
      max-width: 310px;
    }
  }

  &-education {
    &:last-of-type {
      margin-bottom: 100px;
    }
  }


  .position,
  .degree {
    margin-bottom: 16px;
    align-items: flex-start;
    gap: 7px;

    P {
      font-family: 'Helvetica-regular';
      font-weight: 700px;
      font-weight: 700;
    }

    span {
      color: #909090;
      font-style: italic;
    } 
  }
}

.hidden {
  display: none !important;
}