@import './assets/reset';
@import './assets/utils';

.form-container {
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 100vh;
}

.Form {
  padding-bottom: 65px;
  background-color: #F9F9F9;

  // if about inputs are invalid don't show next page btn
  &:has(#name:invalid, #lastname:invalid, #email:invalid, #mobile-number:invalid) {
    #about-next-page {
      display: none;
    }
  }
  // if experience inputs are invalid don't show next page btn
  &:has(#position-input:invalid, #employer-input:invalid, #startDate:invalid, #endDate:invalid, #position-textarea:invalid, #position-input-addit:invalid, #employer-input-addit:invalid, #startDateAddit:invalid, #endDateAddit:invalid, #position-textarea-addit:invalid) {
    #experience-next-page {
      display: none;
    }
  }
  // if education inputs are invalid don't show next page btn
  &:has(#education-input:invalid, #degree-input:invalid, #education-end-input:invalid, #education-textarea:invalid, #educationAddit-input:invalid, #degreeAddit-input:invalid, #educationAddit-end-input:invalid, #educationAddit-textarea:invalid) {
    #education-next-page {
      display: none;
    }
  }

  &-primary {
    position: relative;
    height: 100%;

    .next-page {
      position: absolute;
      right: 0;
    }
  }

  .two-inputs-grouped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    width: 100%;

    .Input-field {
      margin: 0;
      width: 100%;
    }
  }

  &-result {
    background-color: #fff;
  }

  hr {
    margin: 58px 0 45px;
  }

  .next-prev {
    margin-top: 85px;
    justify-content: space-between;
  }

  .additInput {
    &.hide {
      display: none;
    }
  }
}