@import './assets/reset';
@import './assets/utils';

.Form {
  padding-bottom: 65px;
  background-color: #F9F9F9;

  &-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: 100vh;
  }

  &-primary {
    position: relative;
    height: 100%;

    .next-page {
      position: absolute;
      right: 0;
    }
  }

  .two-inputs-grouped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    width: 100%;

    .Input-field {
      margin: 0;
    }
  }

  &-result {
    background-color: #fff;
  }

  hr {
    margin: 58px 0 45px;
  }

  .next-prev {
    margin-top: 115px;
    justify-content: space-between;
  }

  .additInput {
    &.hide {
      display: none;
    }
  }
}